:root{
	--col-sucess: grey;
	--col-primary: grey;
	--col-danger: grey;
	--col-warning: grey;
}

/* image background decoration */
.bg-light{
    background: #f6f6f6;
}
.bg-dark{
    background: #141414;
}
.bg-white{
    background: #ffffff;
}
.bg-black{
    background: #000;
}
.bg-smooth-black{
    background: #0d1117;
}
.bg-smooth-white{
    background: #fefcff;
}

/* image visibility decoration */
.dis-block{
    display: block;
}
.dis-none{
    display: none;
}
.opa0{
    opacity: 0.0;
}
.opa1{
    opacity: 0.1;
}
.opa2{
    opacity: 0.2;
}
.opa3{
    opacity: 0.3;
}
.opa4{
    opacity: 0.4;
}
.opa5{
    opacity: 0.5;
}
.opa6{
    opacity: 0.6;
}
.opa7{
    opacity: 0.7;
}
.opa8{
    opacity: 0.8;
}
.opa9{
    opacity: 0.9;
}

/* image basic decoration */
.img{
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px grey;
}
.img-big, .img-big-square{
    width: 400px;
    height: 400px;
}
.img-big-rectangle, .img-big-rectangle-v{
    width: 400px;
    height: 200px;
}
.img-big-rectangle-h{
    width: 200px;
    height: 400px;
}
.img-big-circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.img-mid, .img-square, .img-mid-square{
    width: 200px;
    height: 200px;
}
.img-rectangle, .img-mid-rectangle, .img-mid-rectangle-v, .img-rectangle-v{
    width: 200px;
    height: 100px;
}
.img-mid-rectangle-h, .img-rectangle-h{
    width: 100px;
    height: 200px;
}
.img-circle, .img-mid-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-small, .img-small-square{
    width: 100px;
    height: 100px;
}
.img-small-rectangle, .img-small-rectangle-v{
    width: 100px;
    height: 50px;
}
.img-small-rectangle-h{
    width: 50px;
    height: 100px;
}
.img-small-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.img-little, .img-little-square{
    width: 50px;
    height: 50px;
}
.img-little-rectangle, .img-little-rectangle-v{
    width: 50px;
    height: 25px;
}
.img-little-rectangle-h{
    width: 25px;
    height: 50px;
}
.img-little-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-micro, .img-micro-square{
    width: 30px;
    height: 30px;
}
.img-micro-rectangle, .img-micro-rectangle-v{
    width: 30px;
    height: 15px;
}
.img-micro-rectangle-h{
    width: 15px;
    height: 30px;
}
.img-micro-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.img-nano, .img-nano-square{
    width: 10px;
    height: 10px;
}
.img-nano-rectangle, .img-nano-rectangle-v{
    width: 10px;
    height: 5px;
}
.img-nano-rectangle-h{
    width: 5px;
    height: 10px;
}
.img-nano-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.img-large, .img-large-square{
    width: 600px;
    height: 600px;
}
.img-large-rectangle, .img-large-rectangle-v{
    width: 600px;
    height: 300px;
}
.img-large-rectangle-h{
    width: 300px;
    height: 600px;
}
.img-large-circle{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}
.img-jumbo, .img-jumbo-square{
    width: 800px;
    height: 800px;
}
.img-jumbo-rectangle, .img-jumbo-rectangle-v{
    width: 800px;
    height: 400px;
}
.img-jumbo-rectangle-h{
    width: 400px;
    height: 800px;
}
.img-jumbo-circle{
    width: 800px;
    height: 800px;
    border-radius: 50%;
}


/* image width decoration */
.w20{
	width: 20px;
}
.w25{
	width: 25px;
}
.w30{
	width: 30px;
}
.w40{
	width: 40px;
}
.w50{
	width: 50px;
}
.w60{
	width: 60px;
}
.w80{
	width: 80px;
}
.w100{
	width: 100px;
}
.w120{
	width: 120px;
}
.w150{
	width: 150px;
}
.w180{
	width: 180px;
}
.w200{
	width: 200px;
}
.w250{
	width: 250px;
}
.w300{
	width: 300px;
}
.w350{
	width: 350px;
}
.w400{
	width: 400px;
}
.w450{
	width: 450px;
}
.w500{
	width: 500px;
}
.w600{
	width: 600px;
}

/* image height decoration */
.h20{
	height: 20px;
}
.h25{
	height: 25px;
}
.h30{
	height: 30px;
}
.h40{
	height: 40px;
}
.h50{
	height: 50px;
}
.h60{
	height: 60px;
}
.h80{
	height: 80px;
}
.h100{
	height: 100px;
}
.h120{
	height: 120px;
}
.h150{
	height: 150px;
}
.h180{
	height: 180px;
}
.h200{
	height: 200px;
}
.h250{
	height: 250px;
}
.h300{
	height: 300px;
}
.h350{
	height: 350px;
}
.h400{
	height: 400px;
}
.h450{
	height: 450px;
}
.h500{
	height: 500px;
}
.h600{
	height: 600px;
}

/* image border radius decoration */
.bor-rad-5{
	border-radius: 5px;
}
.bor-rad-10{
	border-radius: 10px;
}
.bor-rad-20{
	border-radius: 20px;
}
.bor-rad-25{
	border-radius: 25px;
}
.bor-rad-40{
	border-radius: 40px;
}
.bor-rad-50{
	border-radius: 50px;
}
.bor-rad-80{
	border-radius: 80px;
}
.bor-rad-100{
	border-radius: 100px;
}
.bor-rad-200{
	border-radius: 200px;
}

.bor-rad-2p{
	border-radius: 2%;
}
.bor-rad-5p{
	border-radius: 5%;
}
.bor-rad-10p{
	border-radius: 10%;
}
.bor-rad-20p{
	border-radius: 20%;
}
.bor-rad-30p{
	border-radius: 30%;
}
.bor-rad-50p{
	border-radius: 50%;
}
.bor-rad-80p{
	border-radius: 80%;
}
.bor-rad-100p{
	border-radius: 100%;
}

/* image border decoration */
.bor-none{
	border: none;
}
.bor-s1{
	border: 1px solid;
}
.bor-s2{
	border: 2px solid;
}
.bor-s4{
	border: 4px solid;
}
.bor-s5{
	border: 5px solid;
}
.bor-s8{
	border: 8px solid;
}
.bor-s10{
	border: 10px solid;
}

.bor-da1{
	border: 1px dashed;
}
.bor-da2{
	border: 2px dashed;
}
.bor-da4{
	border: 4px dashed;
}
.bor-da5{
	border: 5px dashed;
}
.bor-da8{
	border: 8px dashed;
}
.bor-da10{
	border: 10px dashed;
}

.bor-do1{
	border: 1px dotted;
}
.bor-do2{
	border: 2px dotted;
}
.bor-do4{
	border: 4px dotted;
}
.bor-do5{
	border: 5px dotted;
}
.bor-do8{
	border: 8px dotted;
}
.bor-do10{
	border: 10px dotted;
}

/* image border color decoration */
.bor-col-grey, .bor-col-gray{
	border-color: grey;
}
.bor-col-blue{
	border-color: blue;
}
.bor-col-primary{
	border-color: var(--col-primary);
}
.bor-col-green{
	border-color: green;
}
.bor-col-sucess{
	border-color: var(--col-sucess);
}
.bor-col-red{
	border-color: red;
}
.bor-col-danger{
	border-color: var(--col-danger);
}
.bor-col-warning{
	border-color: var(--col-warning);
}

/* image z indexing decoration */
.z99{
    z-index: 99;
}
.z90{
    z-index: 90;
}
.z80{
    z-index: 80;
}
.z65{
    z-index: 65;
}
.z60{
    z-index: 60;
}
.z50{
    z-index: 50;
}
.z45{
    z-index: 45;
}